<div class="shadow-lg p-3 mb-5 <%= @api_color %> rounded">
  <h1>Hello There, your currently ozone level in <%= @area_location %> is <%= @final_output %></h1>
  <p><%= @api_description %></p>
  <%= form_tag zipcode_path, :method => 'POST' do %>
    <div class="form-inline my-2 my-lg-0">
    <%= text_field_tag 'zipcode', nil, placeholder: " Search Zipcode", class: "form-control mr-sm-2" %>
    <%= submit_tag 'Search', class: 'btn btn-outline-secondary my-2 my-sm-0' %>
    <% end %>
    
</div>
<br/>
<p><a class="btn btn-secondary btn-lg" href="https://ozonechecker.herokuapp.com/" role="button">Refresh Ozone Level</a></p>

<p>
  <a class="btn btn-danger" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Beta Notes
  </a>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    This Website is Currently on Beta so be aware that if you insert a invalid Zipcode (Not American) it may crash the website
  </div>
</div>
